h1, p, label, select,
input, option, span,
th, td {
  font-family: Verdana, sans-serif;
}

body {
  background-color: #e9e9e9;
}

h1 {
  text-align: center;
}

p {

}

label {
  font-size: 18px;
}

option {

}

div {

}

label {
  display: block;
}

input {
  display: block;
  width: 95%;
  padding-left: 10px;
}

select {
  width: 95%;
}

table {
  margin: 0 auto;
}

th, td {
  text-align: center;
  padding: 0 10px;
}

th {
  border-bottom: 1px solid #e9e9e9;
}

input[type=date] {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type=number] {
  font-size: 18px;
}

input[type=submit] {
  display: block;
  font-size: 18px;
  color: #ffffff;
  width: 100px;
  height: 40px;
  background-color: #0099cc;
  border-style: none;
  margin: 5px auto;
}

input[type=submit]:hover {
  background-color: #33ccff;
}

.workout-form-container {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  width: 400px;
  margin: 0 auto 25px auto;
  padding: 15px;
  overflow: auto;
}

#exercise-dropdown {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.workout-log-container {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  width: 700px;
  margin: 0 auto 25px auto;
  padding: 15px;
  overflow: auto;
}

.log-button {
  color: #ffffff;
  width: 30px;
  height: 30px;
  background-color: #0099cc;
  border-style: none;
}